api_addr = "http://127.0.0.1:8200",
cluster_addr = "http://127.0.0.1:8201"

ui=true
disable_mlock = true

default_lease_ttl = "168h"
max_lease_ttl = "720h"

log_file = "/var/log/vault.log"
log_rotate_duration = "24h"
log_rotate_max_files = 30

listener "tcp" {
	address     = "0.0.0.0:8200"
	tls_disable = 1
#    tls_cert_file = "/opt/vault/tls/server.crt"
#    tls_key_file  = "/opt/vault/tls/server.key"
}
